body {
  background-color: #7597ce;
}

.navbar-text-custom {
  color: white;
  background-color: inherit;
}

.navbar-text-custom:hover {
  color: grey;
  background-color: inherit;
}

.box-container {
  background-color: inherit;
  padding: 25px;
}

.project-box-divider {
  padding-top: 10px;
}

.project-box {
  border-radius: 3px;
  border-left: 8px solid #364b6d;
  padding-left: 10px;
  background-color: #486491;
  -webkit-box-shadow: 2px 3px black;
          box-shadow: 2px 3px black;
}

.project-description-padding {
  padding-right: 10px;
  padding-top: 55px;
}

.box {
  border-left: 8px solid #1a4489;
  -webkit-box-shadow: 2px 3px #223656;
          box-shadow: 2px 3px #223656;
  background-color: #4166a0;
}

.box-padding-top {
  padding-top: 25px;
}

.box-padding-bottom {
  padding-bottom: 25px;
}

.box-padding-left-sm {
  padding-left: 10px;
}

.box-padding-left-md {
  padding-left: 20px;
}

.box-padding-left-lg {
  padding-left: 30px;
}

.box-padding-right-sm {
  padding-right: 10px;
}

.box-text {
  color: #c7d0e0;
  font-family: sans-serif;
}

.box-text-bold {
  font-weight: bold;
}

.box-center {
  text-align: center;
}

.box-left {
  text-align: left;
}

.box-right {
  text-align: right;
}

.small-padding {
  padding-top: 10px;
}

